                {% if tips %}
                Menu "Tips" {
                        Option "Generate Tip Macros" "{{tip_macros}}"
                        Divider
                        {%- for tip in tips %}
                        Option "{{tip.name}}" "beginchat {{tip.content}}"
                        {%- endfor %}
                }
                {% endif %}