           Menu "{{ type }}"
           {
              {% for tip in tips %}
                        Option "{{tip.name}}" "beginchat {{tip.name}}: {{tip.content}}"
              {% endfor %}
           }
